{% extends 'base.html.twig' %}

{% block title %}Les articles !{% endblock %}

{% block body %}
    <div class="container">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Launch demo modal
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="my-3">Nos articles</h1>
        {% if not is_granted('ROLE_USER') %}
            <a href="{{ path('app_login') }}" class="my-2 btn btn-success">Connexion</a>
        {% else %}
            <a href="{{ path('app_logout') }}" class="my-2 btn btn-danger">Déconnexion</a>
        {% endif %}
        <div class="row">
            {% for post in posts %}
                <div class="col-3 mb-3">
                    <div class="border border-dark rounded p-2">
                        <h3>{{post.title|slice(0, 20)}}</h3>
                        <p>{{post.description |striptags|slice(0, 100)| raw}}</p>
                        <hr>
                        <a href="{{ path("card_add", {"id":post.id})}}" class="btn btn-success float-left">
                            <i class="fas fa-shopping-cart mr-1"></i>
                            Ajouter
                        </a>
                        <a href="{{ path("single_page", {"id":post.id})}}) }}" class="btn btn-primary float-right">Lire la suite</a>
                        <a href="{{ path("likes", {"id":post.id})}}" class="btn btn-link">

                            {% if app.user and post.getLikesByUser(app.user) %}
                                <i class="fas fa-thumbs-up"></i>
                            {% else %}
                                <i class="far fa-thumbs-up"></i>
                            {% endif %}
                            <span class="js-likes">{{ post.likes | length }}</span>
                            <span class="js-label">J'aime</span>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}